@use 'styles/layout' as *;

.add-today-song-container {
  display: flex;
  padding: 36px 16px;
  flex-direction: column;
  border-radius: 8px;
}

.title-box {
  display: flex;
  align-items: center;
  .back-button {
    color: $black-500;
    font-size: 24px;
    font-weight: 600;
    margin-left: 16px;
    margin: 0;
    text-decoration: none;
  }
  .title {
    flex: 1 0 auto;
    font-size: 24px;
    font-weight: 600;
    margin-left: 16px;
    margin: 0;
    text-align: center;
  }
}

.search-section {
  margin-top: 24px;
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}

.initial-song-container {
  margin-top: 24px;
  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
