@use 'styles/layout' as *;

.profile-box {
  display: flex;
  height: 100px;
  align-items: center;
  background: $grey-100;
  padding: 0 20px;
  gap: 12px;
  .profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .profile-textbox {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .profile-name {
      font-size: 14px;
      font-weight: bold;
      color: $black-300;
    }
    .profile-handle {
      font-size: 12px;
      color: $grey-500;
    }
  }
}

.content-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  .today-recommend-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .title {
      font-size: 14px;
      font-weight: bold;
      color: $black-300;
    }
  }
}
.song-box {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  background: $grey-100;
  border-radius: 8px;
  .song-item {
    display: flex;
    align-items: center;
    gap: 12px;
    .item-image {
      width: 60px;
      height: 60px;
      border-radius: 8px;
    }
    .item-text-box {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .item-title {
        font-size: 14px;
        color: $black-300;
      }
      .item-artist {
        font-size: 12px;
        color: $grey-500;
      }
    }
  }
}
