@use 'styles/layout' as *;

.song-item {
  display: flex;
  align-items: center;
  gap: 12px;
  .item-image {
    height: 60px;
    border-radius: 8px;
  }
  .item-text-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .item-title {
      font-size: 1rem;
      font-weight: 600;
      color: #7b7b7b;
    }
    .item-artist {
      font-size: 0.875rem;
      font-weight: 400;
      color: #a0a0a0;
    }
  }
}
