// Color Variables
$grey-100: hsl(200, 10%, 90%);
$grey-200: hsl(200, 8%, 80%);
$grey-300: hsl(200, 8%, 70%);
$grey-400: hsl(200, 6%, 60%);
$grey-500: hsl(200, 6%, 50%);

$black-100: hsl(0, 0%, 10%);
$black-200: hsl(0, 0%, 20%);
$black-300: hsl(0, 0%, 30%);
$black-400: hsl(0, 0%, 40%);
$black-500: hsl(0, 0%, 50%);

$primary-100: hsl(200, 90%, 90%);
$primary-200: hsl(200, 80%, 80%);
$primary-300: hsl(200, 70%, 70%);
$primary-400: hsl(200, 60%, 60%);
$primary-500: hsl(200, 50%, 50%);

$primary-font: $black-100;
$secondary-font: $primary-300;
