// Color Variables
$grey-100: hsl(200, 10%, 95%);
$grey-200: hsl(200, 8%, 90%);
$grey-300: hsl(200, 8%, 85%);
$grey-400: hsl(200, 6%, 80%);
$grey-500: hsl(200, 6%, 75%);

$black-100: hsl(0, 0%, 10%);
$black-200: hsl(0, 0%, 15%);
$black-300: hsl(0, 0%, 20%);
$black-400: hsl(0, 0%, 25%);
$black-500: hsl(0, 0%, 30%);

$primary-100: hsl(200, 90%, 90%);
$primary-200: hsl(200, 80%, 85%);
$primary-300: hsl(200, 70%, 80%);
$primary-400: hsl(200, 60%, 75%);
$primary-500: hsl(200, 50%, 70%);

$primary-font: $black-100;
$secondary-font: $primary-300;
