@use 'layout' as *;
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2');

body {
  font-family: 'Paperozi';
  font-weight: 500;
  margin: 0;
  width: 100%;
  height: 100dvh;
}

p {
  padding: 0;
  margin: 0;
}

#nprogress .bar {
  background: $primary-500 !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px $primary-500,
    0 0 5px $primary-500 !important;
}

#nprogress .spinner-icon {
  border-top-color: $primary-500 !important;
  border-left-color: $primary-500 !important;
}
